[submodule "SCF-2023-05-20-Product-Search"]
	path = SCF-2023-05-20-Product-Search
	url = https://github.com/dbagley1/SCF-2023-05-20-Product-Search.git
	branch = main
[submodule "SCF-2023-05-13-State-Intro"]
	path = SCF-2023-05-13-State-Intro
	url = https://github.com/dbagley1/SCF-2023-05-13-State-Intro.git
	branch = main
[submodule "SCF-2023-06-03-Reducer-Context-Todo-List-App"]
	path = SCF-2023-06-03-Reducer-Context-Todo-List-App
	url = https://github.com/dbagley1/use-reducer-example.git
[submodule "SCF-2023-06-03-Pokemon-Search-Use-Effect"]
	path = SCF-2023-06-03-Pokemon-Search-Use-Effect
	url = https://github.com/dbagley1/use-effect-pokeapi.git
[submodule "SCF-2023-06-10-React-Local-Storage"]
	path = SCF-2023-06-10-React-Local-Storage
	url = https://github.com/dbagley1/react-local-storage-example.git
