[submodule "SCF-2023-05-20-Product-Search"]
	path = SCF-2023-05-20-Product-Search
	url = https://github.com/dbagley1/SCF-2023-05-20-Product-Search.git
[submodule "SCF-2023-05-13-State-Intro"]
	path = SCF-2023-05-13-State-Intro
	url = https://github.com/dbagley1/SCF-2023-05-13-State-Intro.git
